@using AutSoft.Mud.Blazor.ErrorHandling
@inherits Dialog.DialogComponentBase<ErrorDialogParameter>
@inject BlazorComponentLocalizer Localizer

<div class="error-dialog-root">
    <MudDialog DisableSidePadding="true">
        <TitleContent>
            <MudText Align="Align.Center" Typo="Typo.h5" Class="text-wrap-break-word">@Parameter!.Error.Title</MudText>
        </TitleContent>

        <DialogContent>
            <MudContainer Class="error-dialog-content scrollable-dialog">
                <div class="d-flex gap-4">
                    <div class="align-self-center">
                        <div class="error-icon" />
                    </div>
                    <div class="flex-grow-1 align-self-start">
                        <MudText Typo="Typo.body1" Class="text-wrap-break-word">@Parameter!.Error.Details</MudText>

                        @if (!string.IsNullOrEmpty(Parameter!.Error.DisplayValidationErrors))
                        {
                            <MudText Typo="Typo.body1">@Parameter.Error.DisplayValidationErrors</MudText>
                        }
                    </div>
                </div>

                <MudIconButton OnClick="OnCopyDetails" Class="d-block mx-auto my-2" Variant="Variant.Text"
                               Icon="@Icons.Material.Outlined.ContentCopy" Title="Copy details" />

                @if (!string.IsNullOrEmpty(Parameter.Error.TechnicalDetails) || !string.IsNullOrEmpty(Parameter.Error.CorrelationId))
                {
                    <MudExpansionPanel>
                        <TitleContent>
                            <div class="d-flex pa-2">
                                <MudIcon Class="mr-3" Icon="@Icons.Material.Filled.Info" />
                                <MudText Typo="Typo.body1">@Localizer.ErrorDialogTechnicalDetailsLabel</MudText>
                            </div>
                        </TitleContent>

                        <ChildContent>
                            <MudText Typo="Typo.caption">@Parameter.Error.CorrelationId</MudText>
                            <br>
                            <MudText Class="error-technical-details" Typo="Typo.caption">@Parameter.Error.TechnicalDetails</MudText>
                        </ChildContent>
                    </MudExpansionPanel>
                }
            </MudContainer>
        </DialogContent>

        <DialogActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@Cancel">@Localizer.ErrorDialogCloseButtonLabel</MudButton>
        </DialogActions>
    </MudDialog>
</div>
